
            h1{
                color:brown;
                padding-left: 30px;
            }
            /* {
                border:solid;
            }*/
        .header *{
            border:solid
        }
            .header{
                background-color:orange; 
                display: flex;
                justify-content:space-between;
            }
            .grid{
                background-color: beige;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
            }
            .footer{
                background-color: sandybrown;
                display: flex;
                justify-content: flex-end; 
                
            }
            p,h2{
                text-align: center;
            }

            body{
                background-color: #bebebe
            }
            a:link{
                color:white
            }

            a:visited{
                color:white
            }
            .menu{
                margin-right: 30px;
            }
            .menu a {
                margin-left: 20px;
            }
            .item{
                position: relative
            }
            .item p{
                position: absolute;
                top:50%;
                left:50%;
                transform : translate(-50%,-50%);
                opacity: 0;
            }
            .item:hover p{
                opacity:0.5 ;
            }
            
                
            